*{
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  place-items: center;
}


.metronome {
  border: 4px solid black;
  background-color: #C1666B;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  place-self: center;
  padding: 32px 124px;
}

.metronome-radio {
  appearance: none;
  font: inherit;
  color: white;
  width: 1em;
  height: 1em;
  padding: 8px;
  border: 0.15em solid black;
  border-radius: 50%;
}

.metronome-radio-active {
  background-color: black;
}

.flex {
  display: flex;
  place-self: center;
  place-items: center;
  place-content: center;
  margin-top: 1rem;
  
}

.column {
  flex-direction: column; 
}

.row {
  display: flex;
  column-gap: 2rem;
  flex-direction: row;
}

.metronome-graphic {
  display: inline-flex;
  place-content: center;
  margin-top: 20px;
}

.metronome-btn {
  padding: 8px;
  border: 2px solid black;
  background-color: cadetblue;
  border-radius: 0.75rem;
  height: 40px;
  min-width: 40px;
  text-align: center;
  cursor: pointer;
  color: black;
}

.metronome-btn:hover {
  opacity: 85%;
}

.metronome-btn:active {
  opacity: 60%;
  background-color: rgb(171, 200, 201);
}

@media screen and (max-width: 800px) {
  .metronome {
    padding: 16px 64px;
  }
}


@media screen and (max-width: 540px) {
  .metronome {
    padding: 8px 32px;
  }
}


@media screen and (max-width: 380px) {
  .metronome {
    padding: 4px 16px;
  }

  h1 {
    font-size: 24px;
  }
}